
    *{
  
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    body{
        background-color: rgba(245, 245, 245, 0.548);
    }
    html{
        scroll-behavior: smooth;
        }
    .outercontainer{
        display: flex;
        flex-direction:column ;
        justify-content: center;
        margin: 32px auto 0;
        margin-bottom:   0px;
        max-width: 937px; 
         padding-bottom: 32px;
        width: 100%;
        flex-grow: 1;
        align-items: center;
      
        
       

 
 position: sticky;
 top: 0;
 cursor: pointer; 
       
     } 
    
    
    .maincontainer{
        border: 1px solid rgba(12, 12, 12, 0.247);
        background-color: white;
        padding: 20px;
        margin:70px;
        text-align: center;
        width: 38%;
       
       
margin-top: 60px;
      
        
    }
    .lock{
        width: 30%;
      color: rgba(12, 12, 12, 0.247);
    padding: 10px 10px 10px 10px;

    }
    .trble{
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgba(8, 8, 8, 0.925);
        font-weight: 500;
    }
    .header__center {
        font-size: 16px;
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.2rem;
        align-items: center;
        color: rgba(var(--f52,142,142,142),1);
        
    }
    
    .header__center::before,
    .header__center::after {
        content: "";
        display: block;
        height: .1em;
        background-color: rgba(var(--b38,219,219,219),1);
       
    }
    input[type="text"]{
        text-align: left;
        padding: 10px;
        
        display: flex;
        flex-direction: row;
        font-size: 14px;
        position: relative;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(var(--ca6,219,219,219),1);
        border-radius: 3px;
        background: rgba(var(--b3f,250,250,250),1);
     margin:0px 0px 10px 0px;
     
    }
    
    button{
        border-radius: 3px;
        /* border: 1px solid rgba(0, 0, 0, 0.192); */
        padding: 6px;
        background-color: #a3dfffc9;
        color: white;
        width: 100%;
        border: none;
        margin:  10px 10px 20px 0px;
        text-align: center;
        font-size: 17px;
    }
    .cna{
        text-align: center;
        text-decoration: none;
        color: rgb(6, 6, 22);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
       
    }
      .backtologin{
        margin-bottom: -19.5px;
        margin-left: -20px;
        border: 1px solid rgba(12, 12, 12, 0.247);
      
        
        padding: 10px;
        text-align: center;
        color: rgb(6, 6, 22);
       font-weight: 500;
       position:static;
       height: 44px;
      width: 113%;
     
      
    }
    
    
     
    
    
  
    .nav-logo{
        width:8%;
        /* margin-left: 12%;
      
        margin-bottom: -15px; */
        max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-left: 12%;
   
}

        
    
   .backtologin a{
       
        text-decoration: none;
        color: rgb(6, 6, 22);
    }
    
    .smetext{
       color: rgba(88, 88, 88, 0.658);
    }
    .insta-cont{
       
    align-items: center;
   
    background-color: rgba(var(--d87,255,255,255),1);
   
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 54px;
    position: fixed;
    top: 0;
   
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 3;
    }